@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap");
body {
  font-family: "Space Mono", monospace;
  background-color: #000;
  color: green;
}

.bi {
  text-shadow: 2px 1px 1px #0000006c;
  font-size: 1.5rem;
  cursor: pointer;
  color: green;

}

.msg {
  justify-content: center;
  align-items: center;
  bottom: 0;
  text-align: center;
  padding: 1rem;
}

.msg ul {
  display: flex;
  justify-content: center;
}

.msg ul li {
  padding-inline: 10px;
  list-style: none;
}

.msg ul li a {
  text-decoration: none;
}



sparkles {
  color: #066806;
}

.frame {
  position: relative;
}

matrixframe {
  position: absolute;
  mix-blend-mode: screen;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: monospace;
  color: #a80707;
}

.christmas-animation {
  min-height: 100vh;
}
.christmas-animation .typewriter {
  text-align: center;
}
.christmas-animation .typewriter .heading {
  font-size: 3rem;
}
.christmas-animation .typewriter .body {
  font-size: 2rem;
}
.christmas-animation .typewriter .typewriter_caret {
  animation: blink 500ms infinite;
  color: #fff;
  display: none;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}